@using Microsoft.AspNetCore.Http
@{
    var username = Context.Session.GetString("Username"); // Ambil username dari session
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ALJEproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site_new.css" />*@
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

    <style>

        body {
            overflow-x: hidden;
        }


        #sidebar {
            min-height: 100vh;
            width: 250px;
            background-color: #4F709C;
            color: #fff;
            transition: all 0.3s;
        }

            #sidebar.collapsed {
                width: 60px;
            }

            #sidebar .menu-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 15px;
                border-bottom: 1px solid #F5EFE7;
                /* background-color: #F5EFE7; */
            }

            #sidebar.collapsed .menu-item {
                display: none;
            }

        #content {
            transition: all 0.3s;
        }

        #right-side {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #E5E3D4;
            color: #fff;
            /* border-bottom: 1px solid #ddd; */
        }

        #user-info {
            display: flex;
            align-items: center;
        }

            #user-info img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }

        #sidebar.collapsed .menu-header h5 {
            display: none;
        }

        .footer {
            background-color: #9ABF80;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            margin-top: auto;
        }
    </style>

</head>
<body>

    <div class="d-flex">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="menu-header">
                <button id="toggleSidebar" class="btn btn-primary btn-sm">
                    <i class="fas fa-bars"></i>
                </button>
                <h5 id="menuTitle" class="mb-0 text-white">My Menu</h5>
            </div>
            <ul class="nav flex-column p-2">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="menu-item">Home</span>
                    </a>
                </li>
                @if (ViewBag.Menus != null)
                {
                    var groupedMenus = ViewBag.Menus as List<Menu>;

                    foreach (var parentMenu in groupedMenus.Where(m => m.ParentMenuID == null)) // Hanya ambil parent menu
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="menuDropdown_@parentMenu.MenuID" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @*@parentMenu.MenuDesc*@
                                <i class="fas fa-user"></i>
                                <span class="menu-item"> @parentMenu.MenuDesc</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menuDropdown_@parentMenu.MenuID">
                                @foreach (var subMenu in parentMenu.SubMenus)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="@subMenu.ControllerName" asp-action="Index">@subMenu.MenuDesc</a>}
                            </div>
                        </li>
                    }
                }
            </ul>
        </nav>

        <!-- Content -->
        <div id="content" class="flex-grow-1 d-flex flex-column">
            <!-- Right-Side -->
            <div id="right-side">
                <div>
                    <h6 class="mb-0">Alje Template</h6>
                </div>
                <div id="user-info">
                    @* Jika username tidak null atau kosong, tampilkan pesan dan tombol logout *@
                    @if (!string.IsNullOrEmpty(username))
                    {
                        <img src="~/assets/img/avatar5.png" alt="User Image">
                        <span class="mr-3">Hello, @username!</span>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                            <button type="submit" class="btn btn-primary btn-sm">Logout</button>
                        </form>
                    }
                    else
                    { @* Jika username null atau kosong, tampilkan link login *@
                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                }
                </div>
            </div>

            <!-- Main Content -->
            <div class="p-4 flex-grow-1">
                @RenderBody()
            </div>

            <!-- Footer -->
            <div class="footer mt-auto">
                <p class="mb-1">&copy; @DateTime.Now.Year  - ALJEproject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>.</p>
                <p class="small mb-0">
                    <a href="#" class="text-white-50 text-decoration-none">Privacy Policy</a> |
                    <a href="#" class="text-white-50 text-decoration-none">Terms of Service</a>
                </p>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            // Show side menu
            document.getElementById('toggleSidebar').addEventListener('click', function () {
                var sidebar = document.getElementById('sidebar');
                var content = document.getElementById('content');
                var menuTitle = document.getElementById('menuTitle');
                sidebar.classList.toggle('collapsed');
                content.classList.toggle('collapsed');

                // Hide/Show the menu title
                if (sidebar.classList.contains('collapsed')) {
                    menuTitle.style.display = 'none';
                } else {
                    menuTitle.style.display = 'block';
                }
            });
        });
    </script>
</body>
</html>
